*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: gray;
    font-family: 'Lato', sans-serif;

}

header {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.logo{
    margin-left: 20px;
}
.logo img {
    height: 40px;
}

.search{
    margin-right: 20px;
}

.searchbar {
    width: 200px;
    height: 30px;
    border-radius: 8px;
    padding-left:5px ;
}
.invio{
    width: 55px;
    height: 35px;
    border-radius: 2px;
    background-color: #dc1a28;
    color: white;
    font-weight: bold;
}

.poster {
    width: 342px;
    height: 513px;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    border: 1px white solid;
}
.card {
    width: 342px;
    position: relative;
    margin-right: 20px;
}
.card > img{
    width: 342px;
    height: 513px;
    background-color: lightgrey;
}

.card .wrapper {
    width: 316px;
    height: 475px;
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
    padding: 2px;
}

.card:hover .wrapper{
    display: block;
}

.card:hover .poster{
    opacity: 0.1;
}

.titolo, .titolo-originale, .voto, .lingua, .trama{
    font-weight: bold;
}
.stelle{
    color: gold;
}

p {
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
    color: white;
}


.nazione {
    width: 25px;
    height: 25px;
    vertical-align: -7px;
}

main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.container-film, .container-serie{
    margin-top: 65px ;
    width: 90%;
    display: flex;
    flex-direction: column;    
    align-self: center;
}

.wrapper-film, .wrapper-serie {
    display: flex;
    margin-bottom: 20px;
}

.film, .serie{
    font-size: 25px;
    display: none;
    margin-bottom: 8px;
    
}

#left-button-film {
    position: absolute;
    top: 350px;
    left: 30px;
    font-size: 30px;
    display: none;
}
#right-button-film {
    position: absolute;
    top: 350px;
    right: 30px;
    font-size: 30px;
    display: none;
}

#left-button-serie{
    position: absolute;
    top: 950px;
    left: 30px;
    font-size: 30px;
    display: none;

}

#right-button-serie{
    position: absolute;
    top: 950px;
    right: 30px;
    font-size: 30px;
    display: none;
}

/*SCROLLBAR PER FIREFOX*/
.scroller {
    overflow:auto;
    scrollbar-color: rgb(5, 5, 5) rgb(43, 43, 43);
    scrollbar-width: thin;
  }
